<html>

<head>
	<title>PIM</title>
	<link rel="stylesheet" type="text/css" href="/static/css.css">
	<link rel="shortcut icon" href="/static/planning.png" type="image/png">
	<link rel="manifest" href="/static/app.manifest">
</head>

<body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
{% block body %}{% endblock %}
</body>

</html>
