<html>

<head>
	<title>PIM</title>
	<link rel="stylesheet" type="text/css" href="/static/css.css">
	<link rel="shortcut icon" href="/static/planning.png" type="image/png">
	<link rel="manifest" href="/static/app.manifest">
</head>

<body>
	<pre></pre><a href="{{url_for('index')}}">home</a> | <a href="{{url_for('login')}}">login</a></pre>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <pre>{{ message }}</pre>
            {% endfor %}
        {% endif %}
        {% endwith %}
<hr>
{% block body %}{% endblock %}
</body>

</html>
